.about_light .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  @keyframes slideInAbout1 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
    
  }
  .about_header1 .team-card{
    animation-duration: 1.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInAbout1;
    padding: 40px;
  }
  @keyframes slideInAbout2 {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .about_header2 .team-card{
    animation-duration: 1.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInAbout2;
    padding: 40px;
  }
  @keyframes slideInAbout3 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
    
  }
  .about_header3 .team-card{
    animation-duration: 1.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInAbout3;
    padding: 40px;
  }
  .about_light .responsive-cell-block {
    min-height: 75px;
  }
  
  .about_light .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
  }
  
  .about_light .outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgb(244, 252, 255);
  }
  
  .about_light .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .about_light .section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(0, 135, 177);
    margin: 0 0 10px 0;
  }
  
  .about_light .section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .about_light .img-wrapper {
    width: 100%;
  }
  
  .about_light .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about_light .social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  .about_light .social-media-links img:hover{
    transform: scale(1.2);
    transition: ease-in-out;
  }

  .about_light .about_name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .about_light .position {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 135, 177);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .about_light .team-img {
    width: 100%;
    height: 100%;
  }
  
  .about_light .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  @media (max-width: 500px) {
    .about_light .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .about_light .section-head-text {
      text-align: center;
    }
  }
    


  /* DARK */
  .about_dark{
    background-color: black;
  }
  .about_dark .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .about_dark .responsive-cell-block {
    min-height: 75px;
  }
  
  .about_dark .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
  }
  
  .about_dark .outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgb(8, 8, 8);
  }
  
  .about_dark .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .about_dark .section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(0, 135, 177);
    margin: 0 0 10px 0;
  }
  
  .about_dark .section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .about_dark .img-wrapper {
    width: 100%;
  }
  
  .about_dark .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about_dark .social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  .about_dark .social-media-links img:hover{
    transform: scale(2.5);
    transition: ease-in-out;
  }

  .about_dark .about_name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .about_dark .position {
    font-size: 25px;
    font-weight: 700;
    color: #0d6efd;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .about_dark .team-img {
    width: 100%;
    height: 100%;
  }
  
  .about_dark .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  @media (max-width: 500px) {
    .about_dark .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .about_dark .section-head-text {
      text-align: center;
    }
  }
  