.home_white .wrapper
{
    border :2px solid black;
    border-radius: 10px;
    background-color: black;
    color: bisque;
}
.home_dark .wrapper
{
    border :2px solid rgb(255, 251, 251);
    border-radius: 10px;
    background-color: rgb(114, 114, 114);
    color: rgb(0, 0, 0);
}