@import url("https://rsms.me/inter/inter.css");

:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.u html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  .u html {
    font-family: "Inter var", sans-serif;
  }
}
.u {
  width: 1652px;
  height: 800px;
  background: linear-gradient(to right,#7EE8FA 0%,#EEC0C6 100%);
}
.u body {
  margin: 0;
  background: linear-gradient(to right,#7EE8FA 0%,#EEC0C6 100%);
}

.u h1 {
  margin-bottom: 1rem;
  margin-left: 670px;
}
.u h2{
  margin-left: 175px;
}
.u p {
  color: #000;
}

.u hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 2rem 0;
}

.u .container {
  max-width: 43rem;
  padding: 3vw 2rem 0;
  margin: 0 auto;
  height: 100vh;
  background:transparent;
  border: 4px solid white;
  align-items: center;
  justify-content: center;
  height: 650px;
  color: #000;
  border-radius: 25px;
}

.u .form {
  display: grid;
  grid-gap: 1rem;
}

.u .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: .5rem;
  border-radius: .25rem;
}

.u .field__label {
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.u .field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.u .field:focus-within {
  border-color: #000;
}

.u .fields {
  display: grid;
  grid-gap: 1rem;
}
.u .fields--2 {
  grid-template-columns: 1fr 1fr;
}
.u .fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.u .button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.u .button:focus-visible {
  background-color: #333;
}