.home_white{
  background: linear-gradient(to right,#7EE8FA 0%,#EEC0C6 100%);
}
.slider{
    border-radius: 10px;
    overflow: hidden;
    width: 1400px;
    height: 550px;
    border: 7px solid rgb(255, 245, 245);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    position: relative;
    left:120px;
    top:25px;
  }
  
.slides{
    width: 500%;
    height: 350px;
    display: flex;
  }
  
.slides input{
    display: none;
  }
  
.slide{
    width: 20%;
    transition: 1s;
  }
  
.slide img{
    width: 1400px;
    height: 550px;
  }

.navigation-manual {
    position: relative;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: -40px;
    align-items: center;
    top: 200px;
    left: 450px;
}
  
.manual-btn{
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid white;
    padding: 5px;
    width: 30px;
  }
  
   .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
   .manual-btn:hover{
    background: #c43af3;
  }
  
   #radio1:checked ~ .first{
    margin-left: 0;
  }
  
   #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
   #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
   #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
 
  
   .navigation-auto{
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
  }
  
 .navigation-auto div{
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
  }
  
   .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
   #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #c43af3;
  }
  
   #radio2:checked ~ .navigation-auto .auto-btn2{
   
    background: #c43af3;
  }
  
   #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #c43af3;
  }
  
   #radio4:checked ~ .navigation-auto .auto-btn4{

    background: #c43af3;
  }
  .home_white .k .container-fluid 
  {
    position: relative;
    width: 85%;
    height: auto;
    top: 75px;
    border-radius: 25px;
    border : 3px solid black;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);

  }
  .home_white .home_card
{
    border:solid black;
    margin: 30px;
    background-color: transparent;
    width: 250px;
    min-height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 3px 10px;
    
}
.home_white .home_image img
{
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    margin-right: auto;
    width: 90%;
    height: 90%;
    font-size: 50%;
}
.home_white .home_description
{
    align-items: center;
    text-align: center;
    position: relative;
    width:97% ;
    height: 20%;
    margin-top: 20px;
    padding: 2px;
    font-size:medium;
    font-weight: bolder;
}
.home_white .home_grid
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(325px,100px));
}
.home_white .k2 .container-fluid
{
  position: relative;
  width: 85%;
  height: auto;
  top: 100px;
  border-radius: 25px;
  border : 3px solid black;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}

.home_white .home_dis
{
  position: relative;
  top:50px;
 
}
  /* @media (max-width: 600px) {
    .home_white .slider{
      border-radius: 10px;
      overflow: hidden;
   
      width: 410px;
      height: 250px;
      border: 7px solid white;
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
      position: relative;
      left: -3px;
    
    }
    .home_white .slide img{
      width: 370px;
      height: 250px;
    }
    
    .home_white .navigation-manual {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 600px;
      margin-top: -40px;
      align-items: center;
      top: 0px;
      left: 0px;
  }
  
  .home_white .manual-btn{
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
      border: 3px solid rgb(0, 0, 0);
      padding: 5px;
      width: 30px;
    }
    .home_white .footer{
      bottom: auto;
      left: 0;
      right: 0;
      width:410px;
      height: auto;
      background: #111;
      height: auto;
      width: 100vw;
  
      padding-top: 40px;
      color: #fff;
  }
    
  } */
  @media screen and (max-width: 450px) { 
    .slider{
      border-radius: 15px;
      overflow: hidden;
      width: 350px;
      height: 280px;
      border: 4px solid rgb(255, 255, 255);
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
      position: relative;
      left:5px;
      top:25px;
    }
    .home_white .k .container-fluid 
  {
    position: relative;
    width: 95%;
    height: auto;
    top: 75px;
    border-radius: 25px;
    border : 3px solid rgb(255, 255, 255);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);

  }
  .home_white .k2 .container-fluid
{
  position: relative;
  width: 95%;
  height: auto;
  top: 100px;
  border-radius: 25px;
  border : 3px solid rgb(255, 255, 255);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}
  .home_white .home_card
  {
      border:2px solid rgb(255, 255, 255);
      margin: 30px;
      background-color: transparent;
      width: 250px;
      min-height: auto;
      padding: 15px;
      border-radius: 10px;
      box-shadow:0 3px 10px;
      
  }
  .slides{
      width: 500%;
      height: 350px;
      display: flex;
    }
    
  .slides input{
      display: none;
    }
    
  .slide{
      width: 20%;
      transition: 1s;
    }
    
  .slide img{
      width: 380px;
      height: 300px;
    }
    .home_white .home_dis
    {
      position: relative;
      top:50px;
      font-style: italic;
      font-weight: bold;
      color: #ff8177;
      font-size:xx-large;
      align-items: center;
      justify-content: center;
      display:flex;
    }
  }



  /***********************************************************DARK*********************************************************/














  .home_dark .k2 .container-fluid
  {
    position: relative;
    
    width: 85%;
    height: auto;
    top: 100px;
    border-radius: 25px;
    border : 3px solid rgb(243, 243, 243);
    /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6); */
  }
  


  .home_dark .k .container-fluid 
  {
    position: relative;
    width: 85%;
    height: auto;
    top: 75px;
    border-radius: 25px;
    border : 3px solid rgb(243, 243, 243);
    /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6); */
   

  }
  .home_dark .home_card
{
    border:solid black;
    margin: 30px;
    background-color: rgb(93, 93, 93);
    width: 250px;
    min-height: auto;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow:0 3px 10px; */
    color: aliceblue;
    
}
.home_dark .home_image img
{
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    margin-right: auto;
    width: 90%;
    height: 90%;
    font-size: 50%;
}
.home_dark .home_description
{
    align-items: center;
    text-align: center;
    position: relative;
    width:97% ;
    height: 20%;
    margin-top: 20px;
    padding: 2px;
    font-size:medium;
    font-weight: bolder;
    
}
.home_dark .home_grid
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(325px,100px));
}
.home_dark .home_dis
{
  position: relative;
  top:50px;
}



















  .home_dark{
    background-color: rgba(0, 0, 0, 0.867);
    color: aliceblue;
    text-decoration: #fff;
  }
  .home_dark .slider{
  box-shadow: 0 5px 18px rgba(255, 255, 255, 0.388);
  }
  
.home_dark .manual-btn{
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid white;
    padding: 5px;
    width: 30px;
  }
  
 
  
  @media (max-width: 600px) {
    .home_dark .slider{
      border-radius: 10px;
      overflow: hidden;
   
      width: 410px;
      height: 250px;
      border: 7px solid rgb(11, 11, 11);
      box-shadow: 0 5px 18px rgba(237, 237, 237, 0.6);
      position: relative;
      left: -3px;
    
    }
    .home_dark .slide img{
      width: 370px;
      height: 250px;
    }
    
    .home_dark .navigation-manual {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 600px;
      margin-top: -40px;
      align-items: center;
      top: 0px;
      left: 0px;
  }
  
  .home_dark .manual-btn{
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
      border: 3px solid rgb(0, 0, 0);
      padding: 5px;
      width: 30px;
    }
    .home_dark .footer{
    /* position: relative; */
      bottom: auto;
      left: 0;
      right: 0;
      width:410px;
      height: auto;
      background: #111;
      height: auto;
      width: 100vw;
  
      padding-top: 40px;
      color: #fff;
  }
    
  }

  