@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@keyframes slideInUpLogin {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(100%);
  }
 
 
}
.login6_white .login_header {
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUpLogin;
  background: #ffffff;
  padding: 40px;
}
@keyframes slideInUpRegister {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
 
 
}
.login6_white .register_header {
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUpRegister;
  background: #ffffff;
  padding: 40px;
}

.login6_white .login6_login {
    height: 600px;
    width: 100%;
    background: #ffffff;
    position: relative;
}
.login6_white .login6_login_box {
    width: 1040px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border:2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login6_white .login6_login_box .login6_left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  
}
.login6_white .login6_login_box .login6_right{
  width: 59%;
  height: 100%  
}
.login6_white .login6_left .login6_top_link a {
    color: #452A5A;
    font-weight: 400;
}
.login6_white .login6_left .login6_top_link{
  height: 20px
}
.login6_white .login6_left .login6_contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.login6_white .login6_left h3{
  text-align: center;
  margin-bottom: 40px;
}
.login6_white .login6_left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.login6_white .login6_left{
	background: linear-gradient(-45deg, #b7b2b2, #ffffff);
}
.login6_white .login6_submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #009dff;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}
.login6_white .login6_submit :hover{
	cursor: pointer;
}


.login6_white .login6_right {
	color: #fff;
	position: relative;
  background-size:auto; 
  background-attachment: fixed;
  top:0%;
    
}

.login6_white .login6_right .login6_right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);

}
.login6_right-inductor .btn{
  width: 125px;
  height: auto;
  border-radius: 10px;
}
.login6_white .login6_top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
.login6_right-inductor img{
  width:90%;
  height:80%;
  left: 0%;
}
.login6_right-inductor.text-center.justify-content-center {
  left: 100px;
  position: relative;
}
/*********************************************************DARK****************************************************************/

@keyframes slideInUpLogin {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(100%);
  }
 
 
}
.login6_dark .login_header {
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUpLogin;
  background: #000000;
  padding: 40px;
}
@keyframes slideInUpRegister {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
 
 
}
.login6_dark .register_header {
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInUpRegister;
  background: #000000;
  padding: 40px;
}
.login6_dark{
  background-color: #000000;
}
.login6_dark .login6_login {
    height: 670px;
    width: 100%;
    background: #000000;
    position: relative;
}
.login6_dark .login6_login_box {
    width: 1040px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #333131;
    border:2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login6_dark .login6_login_box .login6_left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  
}
.login6_dark .login6_login_box .login6_right{
  width: 59%;
  height: 100%  
}
.login6_dark .login6_left .login6_top_link a {
    color: #452A5A;
    font-weight: 400;
}
.login6_dark .login6_left .login6_top_link{
  height: 20px
}
.login6_dark .login6_left .login6_contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.login6_dark .login6_left h3{
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
.login6_dark .login6_left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.login6_dark .login6_left{
	background: linear-gradient(-45deg, #312e2e, #272525);
}
.login6_dark .login6_submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #009dff;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}
.login6_dark .login6_submit :hover{
	cursor: pointer;
}


.login6_dark .login6_right {
	color: #fff;
	position: relative;
  background-size:auto; 
  background-attachment: fixed;
  top:0%;
    
}

.login6_dark .login6_right .login6_right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);

}
.login6_right-inductor .btn{
  width: 125px;
  height: auto;
  border-radius: 10px;
}
.login6_dark .login6_top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
.login6_right-inductor img{
  width:90%;
  height:80%;
  left: 0%;
}
.login6_right-inductor.text-center.justify-content-center {
  left: 100px;
  position: relative;
}
.login6_dark label{
  color: #fff0f0;
}
.login6_dark input{
  color: #fff0f0;
}
.login6_dark p{
  color: #fff0f0;
}
/*********************************************************reg*****************************************************/
.login6_contact_register form button
{
position: relative;
top: 0px;
}
.login6_dark .login6_contact_register form h3{
  color: #f5f5f5;
}
.login6_dark .login6_contact_register form label{
  color: #fff0f0;
}
.login6_dark .login6_contact_register form ::placeholder{
  color: #737373;
}