
  nav a{
    margin-right: 10px;    
    padding: 2%;
  }

  .navbar
  {
    color:aliceblue;
  }
  .nav_right
  {
    text-align: right;
  }
  .navbar-toggler
  {
    text-align: right;
    color: rgb(99, 99, 99);
  }
  nav a.active{
    text-decoration: none;
    font-weight: bold;
  }
  .bg-light .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}