
  nav a{
    margin-right: 10px;    
    padding: 2%;
  }

  .navbar
  {
    color:rgb(3, 4, 4);
  }
  .nav_right
  {
    text-align: right;
  }
  .navbar-toggler
  {
    text-align: right;
    color: rgb(99, 99, 99);
  }
  nav a.active{
    text-decoration: none;
    font-weight: bold;
    color: aquamarine;
  }
  .bg-light .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navk {
  color: #fff;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.10em;
  display: inline-block;
  padding: 6px 6px;
  position: relative;
}
.navk:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navk:hover:after { 
  width: 100%; 
  left: 0; 
}
.navbar-dark .navbar-nav .nav-link {
  color: #f8f9fa;
}
.form-check-input:hover{
    cursor: pointer;
}