@keyframes slideInRight {
    100% {
      transform: translateY(0%);
    }
    0% {
      transform: translateY(100%);
    }
  }
  .product_white .product_header {
    animation-duration: 1.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInRight;
    background: linear-gradient(to right,#7EE8FA 0%,#EEC0C6 100%);
    padding: 40px;
  }
.product_white{
    background: linear-gradient(to right,#7EE8FA 0%,#EEC0C6 100%);
}
.product_white .btn{
    height: 40px;
    width: 200px;
    box-shadow: 0px 0px 5px ;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
.product_white .product_card
{
    border:solid rgb(255, 255, 255);
    margin: 30px;
    /* background-color: rgb(255, 255, 255); */
    background: transparent;
    width: 250px;
    min-height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 3px 10px;
    
}
.product_white .product_card:hover{
    cursor: pointer;
    transform: scale(1.09);
    transition: all 0.7s ease; 
}

.product_white .product_image img
{
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    margin-right: auto;
    width: 90%;
    height: 90%;
    font-size: 50%;
}
.product_white .product_description
{
    align-items: center;
    text-align: center;
    position: relative;
    width:97% ;
    height: 20%;
    margin-top: 20px;
    padding: 2px;
    font-size:medium;
    font-weight: bolder;
}


.product_white .product_main-content{
    margin-left: 12%;
    margin-right: auto;
}


.product_white .product_grid
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(325px,100px));
}

.product_white .product_button
{   
    
    padding: 5px 10px;
   
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0091ff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #000000;
}
.product_white .product_button:hover {
    background-color: #0400ff;
    box-shadow: 5px;
}

.product_white .product_button:active {
  background-color: #0098f7;
  box-shadow: 0 5px #000000;
  transform: translateY(4px);
}


/***************************************************Dark*****************************************/
@keyframes slideInDownProduct {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
}
.product_dark .product_header {
    animation-duration: 1.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInDownProduct;
    background: #000000;
    padding: 40px;
  }
.product_dark{
    background-color: #000000;
}
.product_dark .btn{
    height: 40px;
    width: 200px;
    box-shadow: 0px 0px 5px ;
    border-radius: 10px;
    border-color: #fff;
    color: #ffffff;
}
.product_dark .product_card
{
    border:solid white;
    margin: 30px;
    background-color: rgb(65, 65, 65);
    width: 250px;
    min-height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 3px 10px;
   
    
}
.product_dark .product_card:hover{
    cursor: pointer;
    transform: scale(1.09);
    transition: all 1s ease; 
}

.product_dark .product_image img
{
    align-items: center;
    justify-content: center;
    margin-left: 7%;
    margin-right: auto;
    width: 90%;
    height: 90%;
    font-size: 50%;
}
.product_dark .product_description
{
    align-items: center;
    text-align: center;
    position: relative;
    width:97% ;
    height: 20%;
    margin-top: 20px;
    padding: 2px;
    font-size:medium;
    font-weight: bolder;
    color: #ffffff;
}


.product_dark .product_main-content{
    margin-left: 12%;
    margin-right: auto;
}


.product_dark .product_grid
{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(325px,100px));
}

.product_dark .product_button
{   
    
    padding: 5px 10px;
   
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #fffefe;
}
.product_dark .product_button:hover {
    background-color: #0400ff;
    box-shadow: 5px;
}

.product_dark .product_button:active {
  background-color: #0098f7;
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}


@media screen and (max-width: 412px) { 
    .product_white .product_header {
        animation-duration: 1.25s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: slideInRight;
        background: linear-gradient(to right,#7EE8FA 0%,#EEC0C6 100%);
        padding: 40px;
        position: relative;
      }
      .product_white .product_main-content{
        margin-left: 5%;
        margin-right: auto;
    }
}