
.home_white .choose {
    margin-top: 90px;
  }
  .home_white .choose .choose_box {
    text-align: center;
  }
  
  .home_white .choose .choose_box span {
    color: #fff;
    background-color: #23262d;
    border-radius: 60px;
    border: #f6d601 solid 5px;
    padding: 20px 27px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .home_white .choose .choose_box p {
    color: #23262d;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
  }  



  /*****************************************************Dark**************************************************/



  .home_dark .choose {
    margin-top: 90px;
  }

  .home_dark .choose .choose_box {
    text-align: center;
  }
  
  .home_dark .choose .choose_box span {
    color: #fff;
    background-color: #23262d;
    border-radius: 60px;
    border: #f6d601 solid 5px;
    padding: 20px 27px;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .home_dark .choose .choose_box p {
    color: #fffdfd;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
  }  

